@model User

@{
    ViewData["Title"] = "Register";
}

<div class="container main-container w-50">
    <div class="m-3">
        <h1>Register</h1>
        <div>
            @using (Html.BeginForm("Register", "Account"))
            {
                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.email,"Email:", new { @class = "col-sm-2 col-form-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "Email", @id = "email", @name = "email", @required = "required", @type = "text",})
                    </div>
                </div>

                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.fullName, "Name:", new { @class = "col-sm-2 col-form-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.fullName, new { @class = "form-control", @placeholder = "Full Name", @id = "fullName", @name = "fullName", @required = "required", @type = "text" })
                    </div>
                </div>

                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.phone, "Phone:", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.phone, new { @class = "form-control", @placeholder = "Phone", @id = "phone", @name = "phone", required = "required", type = "tel" })
                    </div>
                 </div>

                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.gender, "Gender:", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.gender, new SelectList(new[]{
                            new SelectListItem {Text = "Male", Value = "male"},
                            new SelectListItem {Text ="Female", Value ="female"}
                        }, "Value", "Text"), new { @class = "form-control", @id = "gender", @name = "gender", @required = "requrired" })
                    </div>
                </div>

                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.DOB, "DOB:", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @placeholder = "DOB", @id = "DOB", @name = "DOB", required = "required", type = "date" })
                    </div>
                </div>

                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.major, "Role:", new {@class="col-sm-2 col-form-label"})
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.role, new SelectList(new[]{
                            new SelectListItem {Text = "Student", Value = "student"},
                            new SelectListItem {Text ="Teacher", Value ="teacher"},
                            new SelectListItem {Text ="Admin", Value ="admin"}
                        }, "Value", "Text"), new { @class = "form-control", @id = "role", @name = "role", @required = "requrired" })
                    </div>
                </div>
                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.major, "Major:", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.major, new SelectList(new[]{
                            new SelectListItem {Text = "Designer", Value = "designer"},
                            new SelectListItem {Text ="IT", Value ="it"},
                            new SelectListItem {Text ="Bussiness", Value ="bussiness"}
                        }, "Value", "Text"), new { @class = "form-control", @id = "major", @name = "major", @required = "requrired" })
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            }

@* 

                <div class="form-group row p-2">
                    <label for="major" class="col-sm-2 col-form-label">Major:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="major" name="major" required>
                            <option value="major1">Major 1</option>
                            <option value="major2">Major 2</option>
                            <option value="major3">Major 3</option>
                            <option value="major4">Major 4</option>
                            <option value="major5">Major 5</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form> *@
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>