@model User

@{
    ViewData["Title"] = "Register";
}

<div class="container main-container w-50">
    <div class="m-3">
        <h1>Register</h1>
        <div>
            @using (Html.BeginForm("Register", "Account"))
            {
                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.email,"Email:", new { @class = "col-sm-2 col-form-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "Email", @id = "email", @name = "email", @required = "required", @type = "text",})
                    </div>
                </div>

                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.fullName, "Name:", new { @class = "col-sm-2 col-form-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.fullName, new { @class = "form-control", @placeholder = "Full Name", @id = "fullName", @name = "fullName", @required = "required", @type = "text" })
                    </div>
                </div>

                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.phone, "Phone:", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.phone, new { @class = "form-control", @placeholder = "Phone", @id = "phone", @name = "phone", required = "required", type = "tel" })
                    </div>
                 </div>

                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.gender, "Gender:", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.gender, new SelectList(new[]{
                            new SelectListItem {Text = "Male", Value = "Male"},
                            new SelectListItem {Text ="Female", Value ="Female"}
                        }, "Value", "Text"), new { @class = "form-control", @id = "gender", @name = "gender", @required = "requrired" })
                    </div>
                </div>

                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.DOB, "DOB:", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @placeholder = "DOB", @id = "DOB", @name = "DOB", required = "required", type = "date" })
                    </div>
                </div>

                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.role, "Role:", new {@class="col-sm-2 col-form-label"})
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.role, new SelectList(new[]{
                            new SelectListItem {Text = "Student", Value = "Student"},
                            new SelectListItem {Text ="Teacher", Value ="Teacher"},
                            new SelectListItem {Text ="Admin", Value ="Admin"}
                        }, "Value", "Text"), new { @class = "form-control", @id = "role", @name = "role", @required = "requrired" })
                    </div>
                </div>
                <div class="form-group row p-2">
                    @Html.LabelFor(m => m.major, "Major:", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @{
                            var selectList = new SelectList(ViewBag.majors, "name", "name");
                        }
                        @Html.DropDownListFor(m => m.major, selectList, new { @class = "form-control", @id = "major", @name = "major", @required = "required" })
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>